{% include 'layout.html' %}

{% block title %}
    <h1 class="h1-display text-center">Profile</h1>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Welcome, {{ user.username }}!</h3>
                    <p class="card-text">Here's some information about your profile:</p>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mt-4">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Number of Requests</h5>
                                    <p class="card-text text-center" style="font-size:24px">{{ num_requests }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card mt-4">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Number of Books</h5>
                                    <p class="card-text text-center" style="font-size:24px">{{ num_books }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <a href="{{ url_for('logout') }}" class="btn btn-dark btn-block mt-4">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
