{% extends 'layout.html' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">Admin Dashboard</h1>
    <a href="{{url_for('add_section')}}" class="btn btn-dark mb-4">
        <i class="fas fa-plus"></i>
        Add Section
    </a>

    <h2>Sections:</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Section ID</th>
                <th scope="col">Section Name</th>
                <th scope="col">No. of Books</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for section in sections %}
            <tr>
                <td>{{section.sec_id}}</td>
                <td>{{section.sec_name}}</td>
                <td>{{section.books|length}}</td>
                <td>
                    <a href="{{url_for('view_section',sec_id=section.sec_id)}}" class="btn btn-success btn-sm">
                        <i class="fas fa-eye"></i>
                        View
                    </a>
                    <a href="{{url_for('edit_section',sec_id=section.sec_id)}}" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i>
                        Edit
                    </a>
                    <a href="{{url_for('delete_section',sec_id=section.sec_id)}}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
